.about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 700px;
    margin: 0 auto;
    margin-top: 110px;
}

.about h3 {
font-size: 33px;
font-weight: 500;
line-height: 43px;
}

.about p {
line-height: 27px;
}